<a href="https://colab.research.google.com/github/Son-github/DC-chapter7_2/blob/main/dc_chapter7_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import gdown

gdown.download('https://bit.ly/3pK7iuu', 'ns_book7.csv', quiet=False)

import pandas as pd

ns_book7 = pd.read_csv('ns_book7.csv', low_memory=False)
ns_book7.head()

Downloading...
From: https://bit.ly/3pK7iuu
To: /content/ns_book7.csv
100%|██████████| 53.8M/53.8M [00:00<00:00, 68.2MB/s]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [2]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(ns_book7, random_state=42)

In [3]:
print(len(train_set), len(test_set))

282577 94193

In [4]:
x_train = train_set[['도서권수']]
y_train = train_set['대출건수']

print(x_train.shape, y_train.shape)

(282577, 1) (282577,)

In [7]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [8]:
x_test = test_set[['도서권수']]
y_test = test_set['대출건수']

lr.score(x_test, y_test)

0.10025676249337112

In [9]:
lr.fit(y_train.to_frame(), y_train)
lr.score(y_test.to_frame(), y_test)

1.0

In [10]:
print(lr.coef_, lr.intercept_)

[1.] -3.907985046680551e-14

In [11]:
borrow_mean = ns_book7['대출건수'].mean()
y_train_c = y_train > borrow_mean
y_test_c = y_test > borrow_mean

In [12]:
from sklearn.linear_model import LogisticRegression

logr = LogisticRegression()
logr.fit(x_train, y_train_c)
logr.score(x_test, y_test_c)

0.7106154385145393

In [13]:
y_test_c.value_counts()

False    65337
True     28856
Name: 대출건수, dtype: int64

In [14]:
from sklearn.dummy import DummyClassifier

dc = DummyClassifier()
dc.fit(x_train, y_train_c)
dc.score(x_test, y_test_c)

0.6936502712515792